html, body { 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#pantalla{
    /* le damos estilo a la pantalla principal, que tome todo el espacio disponible y le damos un fondo */
    position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../rsc/img/fondo.jpg');
	background-repeat: no-repeat;
    background-size: 100% 100%;;
	z-index: 0;
}

#barrasuperior{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 3.5%;
    background-color: grey;
    align-items: center;
    display: flex;
    justify-content: center;
}

#relojsuperior{
	position: relative;
	text-align: center;
	font-family: Segoe UI, Verdana;
	font-size: 12px;
	font-weight: bold;
    color: #FFF;
    transition: font-size 100ms ease-in-out;
}


#relojsuperior:hover{
    font-size: 14px;
}

#panel{
	position: absolute;
	width: 64px;
	height: 400px;
    top: 40px;

}

#panel_icons{
	position: relative;
	margin:auto;
	width: 95%;
	height: 90%;
}

.icons{
	position: relative;
	width: 64px;
	height: 64px;
	margin: 20px;
	float: left;
	cursor: pointer;
	background-position: top center;
}

.label_icon{
	position: relative;
	width: 100%;
	height: 13px;
	color: #DDD;
	background: rgba(0,0,0,0.4);
	font-family: Segoe UI, Verdana;
	font-size: 9px;
	border-radius: 8px;
	text-align: center;
	top: 70px;
}

#gearcambiarfondo{
    position: absolute;
	height: auto;
	max-height: 34px;
    width: 35px;
    right: 2%;
    top: -3px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

#gearcambiarfondo:hover{
    width: 38px;
    height: 37px;
}

.contenedorapp{
	position: absolute;
	width: 800px;
	height: 600px;
	left: 25%;
	top: 10%;
	background-color: #1d2620;
}

.app{
	position: relative;
	width: 99%;
	height: 92.5%;
	top: 6.5%;
	left: 0.5%;
	background-color: whitesmoke;
}

.botonsalir{
	position: absolute;
	right: 1%;
	top: 1%;
	height: 30px;
	width: 30px;
	transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.botonsalir:hover{
	height: 33px;
	width: 33px;
}

.nombreapp{
	position: absolute;
	left: 1%;
	top:1%;
	color: white;
}