html, body { 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#pantalla{
    /* le damos estilo a la pantalla principal, que tome todo el espacio disponible y le damos un fondo */
    position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../rsc/img/fondo1.jpeg');
	background-repeat: no-repeat;
    background-size: 100% 100%;;
	z-index: 0;
}

#barrasuperior{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 3.5%;
    background-color: grey;
    align-items: center;
    display: flex;
    justify-content: center;
}

#relojsuperior{
	position: relative;
	text-align: center;
	font-family: Segoe UI, Verdana;
	font-size: 12px;
	font-weight: bold;
    color: #FFF;
    transition: font-size 100ms ease-in-out;
}


#relojsuperior:hover{
	font-size: 14px;
}

#panel{
	position: absolute;
	width: 64px;
	height: 400px;
    top: 40px;

}

#panel_icons{
	position: relative;
	margin:auto;
	width: 95%;
	height: 90%;
}

.icons{
	position: relative;
	width: 64px;
	height: 64px;
	margin: 20px;
	float: left;
	cursor: pointer;
	background-position: top center;
}

.label_icon{
	position: relative;
	width: 100%;
	height: 13px;
	color: #DDD;
	background: rgba(0,0,0,0.4);
	font-family: Segoe UI, Verdana;
	font-size: 9px;
	border-radius: 8px;
	text-align: center;
	top: 70px;
}

#gearcambiarfondo{
    position: absolute;
	height: auto;
	max-height: 34px;
    width: 35px;
    right: 2%;
    top: -3px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

#gearcambiarfondo:hover{
    width: 38px;
    height: 37px;
}

.contenedorapp{
	position: absolute;
	width: 809px;
	height: 649px;
	left: 25%;
	top: 10%;
	background-color: #1d2620;
}

.app{
	position: relative;
	width: 99%;
	height: 92.5%;
	top: 6.5%;
	left: 0.5%;
	background-color: whitesmoke;
}

.botonsalir{
	position: absolute;
	right: 1%;
	top: 1%;
	height: 30px;
	width: 30px;
	transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.botonsalir:hover{
	height: 33px;
	width: 33px;
}

.nombreapp{
	position: absolute;
	left: 1%;
	top:1%;
	color: white;
}

#calendario{
	position: absolute;
	top: 3.7%;
	left: 39%;
	height: 280px;
	width: 20%;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#calendario.fade{
	opacity: 1;
}


#contenedorfondos{
	position: absolute;
	top: 3.7%;
	right: 2%;
	background-color: whitesmoke;
	width:300px ;
	height: auto;
	max-height: 90%;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#contenedorfondos.fade{
	opacity: 1;
}

.contenedorimagenfondo{
	position: relative;
	margin-left: 8%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: 250px;
	height: 150px;
}

.previewfondo{
	position: absolute;
	width: 250px;
	height: 150px;
}

.contenedorimagenfondo:hover> .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
}
.overlay:hover > .textofondo{
	opacity: 1;
}

.textofondo{
	position: absolute;
	top: 40%;
	left: 27.5%;
	color: white;
	font-size: 18px;
	opacity: 0;
}